/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10-abr-2020, 18:31:23
    Author     : Usuario
*/


.bp-header__present {
	font-size: 0.75em;
	font-weight: 700;
	position: relative;
	z-index: 100;
	display: block;
	margin: 0 -8px 0 0;
	padding: 0 0 0.6em 0;
	text-indent: 3px;
	letter-spacing: 3px;
	text-transform: uppercase;
	color: #fff;
}

.bp-tooltip:after {
	position: relative;
	top: -8px;
	left: -8px;
	display: inline-block;
	width: 0;
	height: 0;
}


/*caja*/
.bp-tooltip:hover:before {
	content: attr(data-content);
	font-size: 110%;
	font-weight: 700;
	line-height: 1.2;
	position: absolute;
	top: 3.5em;
	right: 0;
	width: 50vw;
	padding: 0.8em 1em;
	text-align: right;
	text-indent: 0;
	letter-spacing: 0;
	text-transform: none;
	color: #fff;
	background: rgba(217,216,216,.75);
        border-radius: 10px;
}